.all-tables {
    margin-top: 30px;
}

.top-table {
    width: 1120px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 30px;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1hr;

}

.under-table {
    width: 1120px;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 20px;
}

.form-group {
    display: flex;

}

table {
    border-left: 1px;
}

.label {
    grid-column: 2;
    text-align: left;
    padding: 20px 70px;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 16px;
    font-weight: 300;

}

.item {
    padding: 10px 50px;


}

.weight  {  
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}


.top-table td:not(:first-child) {
    border-left: 1px solid #ddd;
}

.row {
    padding: 10px;
}

.date {
    width: 200px;
    height: 40px;
font-family: Hiragino Kaku Gothic Pro;
    font-size: 14px;
    font-weight: 300;
    color: #cdcdcd;
    border: 1px solid #E0DFDE;
    border-radius: 5px;
}

.seach-result {
    margin-top: 20px;
}
.result {
    margin-left: 5px;
}
.form-group {
    padding: 30px;
}

.search-form__search-btn,
.search-form__reset-btn {
    width: 100px;
    height: 40px;
    margin-left: 10px;
}

.search-form__search-btn {
    background: #919191;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.search-form__reset-btn {
    color: #919191;
    border: 1px solid #919191;
    border-radius: 5px;
    background: #fff;
}

.add-link {
    width: 160px;
    height: 45px;
    padding: 6.5px 15px ;
   
    border-radius: 12px;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #fff;
    background: linear-gradient(90deg, #A3A6E1 0%, #FFABD9 100%);
    margin-left: 230px;
    text-decoration: none;
}

.under-table-row {
    border-bottom: 1px solid;

    border-image-source: linear-gradient(90deg, #A3A6E1 0%, #FFABD9 100%);
}

.data-item {
    border-bottom: 1px solid #F7F7F7;
}

.data-label {


    font-family: Hiragino Kaku Gothic Pro;
    font-size: 16px;
    font-weight: 600;
    text-align: left;

}

.data-label,
.data-item {
    padding: 16px 20px;

}

.data-label:first-of-type,
.data-item:first-of-type {
    padding-left: 48px;
    width: 280px;
    text-align: left;
}

.data-label:last-of-type,
.data-item:last-of-type {
    padding-right: 48px;
    text-align: right;

}
.pagination-content {
    text-align: center;
    display: flex;
    justify-content: center;
}
.pagination {
    display: flex;
    margin-left: -80px;
}
.page-item-active
 {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 7px;
    background: linear-gradient(90deg, #A3A6E1 0%, #FFABD9 100%);
}

.page-item {
    width: 40px;
    height: 40px;
    margin-left: 10px;
        margin-right: 10px;
        padding-top: 7px;
        background: white;
}

.page-link {
    text-decoration: none;
    color: #4b4b4b;
    font-family: Hiragino Kaku Gothic Pro;
        font-size: 18px;
        font-weight: 300;
        
}
.page-link-active {
    color: white;
    font-family: Hiragino Kaku Gothic Pro;
        font-size: 18px;
        font-weight: 300;
        
}
/* モーダル */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
   
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 850px;
    border: 1px solid #8B7969;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
}



.modal-content {
   
    background-color: #fff;
    padding: 30px;
    margin-top: 60px;
   

}

h1 {
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 24px;
    font-weight: 600;

    text-align: left;

}

.modal-label {
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

.modal-span {
    color: #fff;
    background: red;
    margin-left: 10px;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 12px;
    font-weight: 300;
    padding: 0 5px;
    border-radius: 3px;

}


.modal-date,
.modal-input {
    width: 760px;
    height: 43px;
   
    border: 1px solid #E0DFDE;
    border-radius: 5px;
}

.modal-textarea {
    width: 760px;
    height: 160px;
}

.modal-error {
    color: red;
    margin-top: 5px;
}

.modal-button-content {
    margin-top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-back,
.modal-button-create
 {
    z-index: 10;
    
}

.modal-back {
    display: inline-block;
    width: 200px;
    height: 60px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    background-color: #E0DFDE;
    text-decoration: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 4px 10px 0px #0000001A;
    margin-left: 20px;
    padding-top: 20px;
}

.modal-button-create {
    width: 200px;
    height: 60px;
    border: none;
    color: #fff;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(90deg, #A3A6E1 0%, #FFABD9 100%);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px rgb(224, 224, 224);
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
}


